.user-header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-header img{
  width: 160px;
}

.user-header-img-container{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}

.user-header h1{
  margin: 0 20px;
  padding: 0
}